<%- include("header") -%>

<div class="edit-student-page">
  <h1>Edit Student Information</h1>
  <form class="editTable2" action="/edit-student/<%= student._id %>" method="POST">
    <!-- Include form fields with their respective values -->
    <div class="form-group editStudentFields">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= student.name %>">
    </div>
    <div class="form-group editStudentFields">
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" value="<%= student.age %>">
    </div>
    <div class="form-group editStudentFields">
      <label for="gender">Gender:</label>
      <input type="text" id="gender" name="gender" value="<%= student.gender %>">
    </div>
    <div class="form-group editStudentFields">
      <label for="level">Level:</label>
      <input type="text" id="level" name="level" value="<%= student.level %>">
    </div>
    <div class="form-group editStudentFields">
      <label for="studentClass">Class:</label>
      <input type="text" id="studentClass" name="studentClass" value="<%= student.class %>">
    </div>
    <div class="form-group editStudentFields">
      <label for="fees">Fees:</label>
      <input type="number" id="fees" name="fees" value="<%= student.fees %>">
    </div>
    <div class="form-group editStudentFields">
      <label for="status">Fees Status:</label>
    <select name="status" id="feesStatus" required>
      <option value="">Select Status</option>
      <option value="Not Paid">Not Paid</option>
      <option value="Paid Fully">Paid Fully</option>      
      <option value="Pending Balance">Pending Balance</option>
    </select>
    </div>

    <div class="form-group editStudentFields">
      <label for="paidAmount">Paid Amount:</label>
      <input type="number" id="paidAmount" name="paidAmount" value="<%= student.paid_amount %>">
    </div>
    <div class="form-group editStudentFields">
      <label for="paymentDate">Payment Date:</label>
      <input type="date" id="paymentDate" name="paymentDate" value="<%= student.date_paid ? student.date_paid.toISOString().split('T')[0] : '' %>">
    </div>

    <button class="w-30 btn btn-lg btn-primary submit-button2" type="submit">Save Changes</button>
  </form>
</div>

<style>
  input[name="paidAmount"] {
    display: none;
  }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>




<%- include("footer") -%>
