<%- include("header") -%>

<%- include("navbar") -%>

<main class="wholePage form-signin w-100 m-auto">

  

  <h1>Edit School Year</h1>

    <form method="POST" action="/school-year/edit/<%= schoolYear._id %>">
    <div>
      <label for="startYear" class="form-label ">Start Year</label>
      <input type="text" class="form-control" name="startYear" id="startYear" value="<%= schoolYear.startYear %>">
    </div>
    <div>
      <label for="endYear" class="form-label">End Year</label>
      <input type="text" class="form-control" name="endYear" id="endYear" value="<%= schoolYear.endYear %>">
    </div>
    <div>
      <label for="term1Months" class="form-label">Term 1 Months</label>
      <input type="number" class="form-control" name="term1Months" id="term1Months" value="<%= schoolYear.term1Months %>">
    </div>
    <div>
      <label for="term2Months" class="form-label">Term 2 Months</label>
      <input type="number" class="form-control" name="term2Months" id="term2Months" value="<%= schoolYear.term2Months %>">
    </div>
    <div>
      <label for="term3Months" class="form-label">Term 3 Months</label>
      <input type="number" class="form-control" name="term3Months" id="term3Months" value="<%= schoolYear.term3Months %>">
    </div>
    <div>
      <label for="primaryFees" class="form-label">Primary Fees</label>
      <input type="number" class="form-control" name="primaryFees" id="primaryFees" value="<%= schoolYear.primaryFees %>">
    </div>
    <div>
      <label for="secondaryFees" class="form-label">Secondary Fees</label>
      <input type="number" class="form-control" name="secondaryFees" id="secondaryFees" value="<%= schoolYear.secondaryFees %>">
    </div>
    <div>
      <input type="submit" class="w-100 btn btn-lg btn-primary submit-button" value="Update School Year">
    </div>
  </form>
  
  </main>

  <%- include("footer") -%>

