<%- include("header") -%>

</* Header Section **/>

<div class="generate-report-page">
  <h1 id="school-year-header">Generate Report</h1>
  <div class="report-form">
    <form class="form-container" action="/generate-report" method="POST">
      <div class="form-group">
        <label for="level" class="form-label">Level:</label>
        <select class="form-control" name="level">
          <option value="">Select Level</option>
          <option value="primary">Primary School</option>
          <option value="secondary">Secondary School</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="class" class="form-label">Class:</label>
        <select class="form-control" name="studentClass">
          <option value="">Select Class</option>
          <option value="Grade 1">Grade 1</option>
          <option value="Grade 2">Grade 2</option>
          <option value="Grade 3">Grade 3</option>
          <option value="Grade 4">Grade 4</option>
          <option value="Grade 5">Grade 5</option>
          <option value="Grade 6">Grade 6</option>
          <option value="Form 1">Form 1</option>
          <option value="Form 2">Form 2</option>
          <option value="Form 3">Form 3</option>
          <option value="Form 4">Form 4</option>
          <option value="Form 5">Form 5</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="status" class="form-label">Fees Status:</label>
        <select class="form-control" name="status">
          <option value="">Select Status</option>
          <option value="Not Paid">Not Paid</option>
          <option value="Paid Fully">Paid Fully</option>
          <option value="Pending Balance">Pending Balance</option>
        </select>
      </div>
      <br />
      <button class="btn btn-primary" type="submit">Generate</button>
    </form>
  </div>

<% if (report !== undefined) { %>
    <div class="report-container">
      <h2>Student Fees Report</h2>
      <% if (students.length > 0) { %>
        <table class="report-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Level</th>
              <th>Class</th>
              <th>Amount Paid</th>
              <th>Remaining Balance</th>
              <th>Status</th>
              <th>Date</th>
            
            </tr>
          </thead>
          <tbody>
            <!-- Looping through the filtered students and display the data in rows -->
            <% students.forEach((student) => { %>
              <tr>
                <td><a href="#" onclick="printInvoice('<%= student.name %>', '<%= student.level %>', '<%= student.class %>', <%= student.paid_amount %>, <%= student.fees %>, '<%= student.status %>')"> <%= student.name %> </a></td>
                <td><%= student.level %></td>
                <td><%= student.class %></td>
                <td data-fees="<%= student.paid_amount %>"><%= student.paid_amount %></td>
                <td data-fees="<%= student.fees %>"><%= student.fees %></td>
                <td><%= student.status %></td>
                <!-- Adding Date  -->
<% if (student.status === 'Paid Fully' || student.status === 'Pending Balance') { %>
  <td>
    <% if (student.date_paid) { %>
      <% const paymentDate = new Date(student.date_paid); %>
      <%= paymentDate.toLocaleDateString() %>
    <% } else { %>
      N/A
    <% } %>
  </td>
<% } else { %>
  <td colspan="2">N/A</td>
<% } %>


              
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <p class="no-students">No students found.</p>
      <% } %>
      <div class="report-actions">
        <button onclick="printReport()" class="btn btn-primary print-button">Print</button>
      </div>
    </div>
  <% } %>
  <!-- Invoice container for displaying the invoice -->
  <div class="invoice-container" id="invoiceContainer" style="display: none;"></div>
</div>

<script>
  // Function to format the fees as Malawian Kwacha currency
  function formatFeesAsCurrency(fees) {
    return fees.toLocaleString('en-MW', {
      style: 'currency',
      currency: 'MWK'
    });
  }

  // Getting all the "td" elements with fees data
  const feesElements = document.querySelectorAll('td[data-fees]');

  // Looping through each "td" element and format the fees as currency
  feesElements.forEach((element) => {
    const fees = parseFloat(element.getAttribute('data-fees'));
    if (!isNaN(fees)) {
      const formattedFees = formatFeesAsCurrency(fees);
      element.textContent = formattedFees;
    }
  });

  function generateInvoiceContent(name, level, className, paid_amount, fees, status, date_paid) {

    // Helper function to format the date
function formatInvoiceDate(date_paid) {
  if (date_paid) {
    const datePaid = new Date(date_paid);
    return datePaid.toLocaleDateString();
  }
  return 'N/A';
}

const formattedDate = formatInvoiceDate(date_paid);



    const invoiceContent = `
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">Order # 12345 for ${name}</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
            ${name}<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div>
    			
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					Cash
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					${formattedDate}<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Class</strong></td>&nbsp;&nbsp;&nbsp; 
        							<td class="text-center"><strong>Paid</strong></td>&nbsp;&nbsp;&nbsp;
        							<td class="text-center"><strong>Remaining</strong></td>&nbsp;&nbsp;&nbsp;
        							<td class="text-right"><strong>Status</strong></td>&nbsp;&nbsp;&nbsp;&nbsp;
                                </tr>
    						</thead>
              
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>${className}</td>&nbsp;&nbsp;&nbsp;
    								<td class="text-center">${formatFeesAsCurrency(paid_amount)}</td>&nbsp;&nbsp;&nbsp;
    								<td class="text-center">${formatFeesAsCurrency(fees)}</td>&nbsp;&nbsp;&nbsp;
    								<td class="text-right">${status}</td>&nbsp;&nbsp;&nbsp;
    							</tr>
                                
      

    						</tbody>
    					</table>
    				</div>
            </div>
            </div>
    `;
    console.log(invoiceContent);
    return invoiceContent;

  }



  function printInvoiceWindow(invoiceContent) {
    const invoiceWindow = window.open('', '_blank');
    invoiceWindow.document.write(invoiceContent);
    invoiceWindow.document.close();
    invoiceWindow.print();
  }

  function printInvoice(name, level, className, paid_amount, fees, status, date_paid) {
    const invoiceContent = generateInvoiceContent(name, level, className, paid_amount, fees, status, date_paid);
    printInvoiceWindow(invoiceContent);
  }

  function printReport() {
    // Hide everything except the table when printing
    document.body.innerHTML = '<div class="report-container">' + document.querySelector('.report-container').innerHTML + '</div>';
    // Trigger the print directly to print the table
    window.print();
    // Reload the page to revert the changes
    location.reload();
  }
</script>



<%- include("footer") -%>
