<%- include("header") -%>

</* Header Section **/>

<div class="generate-report-page">
  <h1 id="school-year-header">Generate Report</h1>
  <div class="report-form">
    <form class="form-container" action="/generate-report" method="POST">
      <div class="form-group">
        <label for="level" class="form-label">Level:</label>
        <select class="form-control" name="level">
          <option value="">Select Level</option>
          <option value="primary">Primary School</option>
          <option value="secondary">Secondary School</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="class" class="form-label">Class:</label>
        <select class="form-control" name="studentClass">
          <option value="">Select Class</option>
          <option value="Grade 1">Grade 1</option>
          <option value="Grade 2">Grade 2</option>
          <option value="Grade 3">Grade 3</option>
          <option value="Grade 4">Grade 4</option>
          <option value="Grade 5">Grade 5</option>
          <option value="Grade 6">Grade 6</option>
          <option value="Form 1">Form 1</option>
          <option value="Form 2">Form 2</option>
          <option value="Form 3">Form 3</option>
          <option value="Form 4">Form 4</option>
          <option value="Form 5">Form 5</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="status" class="form-label">Fees Status:</label>
        <select class="form-control" name="status">
          <option value="">Select Status</option>
          <option value="Not Paid">Not Paid</option>
          <option value="Paid Fully">Paid Fully</option>
          <option value="Pending Balance">Pending Balance</option>
        </select>
      </div>
      <br />
      <button class="btn btn-primary" type="submit">Generate</button>
    </form>
  </div>

<% if (report !== undefined) { %>
    <div class="report-container">
      <h2>Student Fees Report</h2>
      <% if (students.length > 0) { %>
        <table class="report-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Level</th>
              <th>Class</th>
              <th>Amount Paid</th>
              <th>Remaining Balance</th>
              <th>Status</th>
              <th>Date</th>
            
            </tr>
          </thead>
          <tbody>
            <!-- Looping through the filtered students and display the data in rows -->
            <% students.forEach((student) => { %>
              <tr>
                <td><a href="#" onclick="printInvoice('<%= student.name %>', '<%= student.level %>', '<%= student.class %>', <%= student.paid_amount %>, <%= student.fees %>, '<%= student.status %>')"> <%= student.name %> </a></td>
                <td><%= student.level %></td>
                <td><%= student.class %></td>
                <td data-fees="<%= student.paid_amount %>"><%= student.paid_amount %></td>
                <td data-fees="<%= student.fees %>"><%= student.fees %></td>
                <td><%= student.status %></td>
                <!-- Adding Date  -->
<% if (student.status === 'Paid Fully' || student.status === 'Pending Balance') { %>
  <td>
    <% if (student.date_paid) { %>
      <% const paymentDate = new Date(student.date_paid); %>
      <%= paymentDate.toLocaleDateString() %>
    <% } else { %>
      N/A
    <% } %>
  </td>
<% } else { %>
  <td colspan="2">N/A</td>
<% } %>


              
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <p class="no-students">No students found.</p>
      <% } %>
      <div class="report-actions">
        <button onclick="printReport()" class="btn btn-primary print-button">Print</button>
      </div>
    </div>
  <% } %>
  <!-- Invoice container for displaying the invoice -->
  <div class="invoice-container" id="invoiceContainer" style="display: none;"></div>
</div>




<%- include("footer") -%>
