
<!-- viewSchoolYears.ejs -->

<!-- viewSchoolYears.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create User</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  
  <!-- Custom styles for this template -->
<link href="css/styles.css" rel="stylesheet">
</head>
<body id="contentPos">

    
<div class= "view-users">

<h1>School Years</h1>
<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Primary Fees</th>
      <th>Secondary Fees</th>
      <th>Term 1 Months</th>
      <th>Term 2 Months</th>
      <th>Term 3 Months</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% schoolYears.forEach(schoolYear => { %>
    <tr>
      <td>As of Year:<%= schoolYear.year %></td>
      <td>MWK <%= schoolYear.primaryFees.toLocaleString() %></td>
      <td>MWK <%= schoolYear.secondaryFees.toLocaleString() %></td>
      <td><%= schoolYear.term1Months.toLocaleString() %></td>
      <td><%= schoolYear.term2Months.toLocaleString() %></td>
      <td><%= schoolYear.term3Months.toLocaleString() %></td>
      <td>
        <form method="GET" action="/school-year/edit/<%= schoolYear._id %>">
          <button type="submit">Edit</button>
        </form>
      </td>
      <td>
        <form method="POST" action="/school-year/delete/<%= schoolYear._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>  
</body>
</html>
